body {
    font-size: 80%;
    display: block;
    margin: 0px;
    padding: 10px;
}

.flex-container {
    border: 1px solid black;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.flex-div{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.flex-inner {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-inner input {width: 99%;}
.flex-inner ul {display:  flex; flex-direction: column;}

ul {
    list-style: none;
}

#divtable {display: table;}
#left, #middle, #right{
    border: 1px solid black;
    display: table-cell;
    font-weight: bold;
    
}
#middle, #right {text-align: center;}
#row {
    display: table-row;
}


input {width: 100%;}

input[type=radio] {
    width: 20px;
}

input[type=checkbox] {width: 1%;}

button {
    margin-left: 1%;
    margin-bottom: 10px;
    border: none;
}